@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Courgette&family=Nunito&display=swap');

$base-color: #FF9F1C;
$attention-color: #2EC4B6;
$text-color: #F5F5F5;
$text-color-dark: #212529;
$extra-color: #FFB85C;
$small-font-size: 1.3rem;
$medium-font-size: 1.6rem;
$large-font-size: 1.9rem;
$logo-font-size: 3rem;
$base-font: 'Nunito';
$serif-font: "Amiri";
$logo-font: "Courgette";